<!-- Categories at the top -->
 <lib-location-selection></lib-location-selection>

 <lib-location-dropdown></lib-location-dropdown>
 <lib-products-carousel category="Flower" [limit]="12"></lib-products-carousel>
 <lib-products-carousel category="Vapes" [limit]="12"></lib-products-carousel>
 <lib-products-carousel category="Edibles" [limit]="12"></lib-products-carousel>
 <lib-products-carousel category="Pre-Roll" [limit]="12"></lib-products-carousel>
 <lib-products-carousel category="Concentrates" [limit]="12"></lib-products-carousel>
 <lib-ad-banner></lib-ad-banner>

<lib-categories [iconSet]="'gl-icons'"></lib-categories>

<!-- <lib-merch-shop></lib-merch-shop> -->

<!-- <lib-contact></lib-contact> -->



<!-- Recent Products -->
<!-- <lib-recent-products-carousel></lib-recent-products-carousel> -->



<!-- The main shop system -->
<router-outlet></router-outlet>
