
body {
    h1, h2, h3, h4, li, label{
      font-family: "Roboto", serif;
      font-weight: 400;
      font-style: normal;
    }
  
    p, span, button{
      font-weight: bold;
      font-family: "Roboto", serif;
    }
    margin: 0;
  }

  button {
    background-color: #000000; /* Green */
    color: rgb(255, 255, 255); /* White Text */
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px; /* Rounded */
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  
  button:disabled {
    background-color: #b6b6b6; /* Muted Green for Disabled */
    cursor: not-allowed;
  }
  